html, body {
  font-family: "Roboto", sans-serif;
  background-color: #FFF5EB;
  margin: 0;
  padding: 0;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

/* 

  Header

*/

#header {
  width: 1200px;
  margin: 0 auto;
  color:#6A6761;
  padding: 10px 0;
}

.logo {
  width: 30%;
  float: left;
  padding: 1em 0;
}

  .logo h1, .logo p {
    margin: 0;
    padding: 0;
  }

  .logo h1 {
    text-transform: uppercase;
    letter-spacing: 0.25em;
  }

.navigation {
  float: right;
  text-align: right;
  padding-top: 2em;
  width: 70%;
}

  .navigation a {
    padding: 0.5em 1em;
    text-decoration: none;
    letter-spacing: 0.10em;
  }

  .navigation a:hover {
    color:#8C8880;
  }

/* 

  Intro

*/

#intro {
  height: 700px;
  background-image: url(../img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  clear: both;
}

/* 
  Stilius skirtas mygtukams
*/

.btn-default {
  border: 1px solid #6A6761;;
}

  .btn-default:hover {
    background-color: #6A6761;
    color: white;
  }

.intro-social {
  text-align: right;
  color: #fff;
  padding: 1em;
}

.intro-icon {
  height: 1.5em;
  width: 1.5em;
  margin-left: 1em;
}

  .intro-icon:hover {
    color: rgb(196, 196, 196)
  }

.intro-text h1 {
  font-size: 4.5em;
  padding-top: 2em;
}

#intro {
  text-align: center;
  color: #fff;
}

#intro:hover {
  filter: sepia(15%);
}

#map-statistics {
  text-align: center;
  padding-top: 2em;
  clear: both;
}
h3 {
  font-size: 2em;
  margin-bottom: 0em;
}

.iframe-map iframe {
  width: 100%;
  height: 800px;
  border: 0;
}

#footer {
  width: 1200px;
  margin: 0 auto;
  color:#6A6761;
  padding: 10px 0;
}
